<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.portal.infoPush.infoPush.IInfoPushDao">


<!-- 通过用户帐号获取用户行为数据接口（指标接口），返回报文数据-->

	<select id="getUserBehaviorDataByUserID" parameterType="String" resultType="map">
		select index_id,index_name,index_value from index_info where user_name =#{userID}
	</select>


<!--通过用户帐号获取资源目录数据接口，返回报文数据-->
	<select id="getCataDataByUserID" parameterType="String" resultType="map">
		select cata_id,cata_name,cata_value from catalogue_info  where user_name =#{userID}
	</select>

</mapper>
