<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.portal.sms.mouldmng.IMouldMngDao">


	<!--查询条件-->
	<sql id="where">
		1=1
		<if test="mould_id != null "><![CDATA[
	       and mould_id = #{mould_id}
	    ]]></if>
		<if test="mould_name != null and mould_name != '' and !'null'.equals(mould_name)"><![CDATA[
	       and mould_name   like CONCAT('%',#{mould_name},'%')
	    ]]></if>
		<if test="mould_content != null and mould_content != '' and !'null'.equals(mould_content)"><![CDATA[
	       and mould_content like CONCAT('%',#{mould_content},'%')
	    ]]></if>

		<if test="mould_type != null "><![CDATA[
	       and mould_type = #{mould_type}
	    ]]></if>

		<if test="mould_author != null"><![CDATA[
	       and mould_author= #{mould_author}
	    ]]></if>

		<if test="mould_state != null"><![CDATA[
	       and mould_state = #{mould_state}
	    ]]></if>

		<if test="cre_time != null"><![CDATA[
	       and cre_time >= #{cre_time}
	    ]]></if>
		<if test="upd_time != null"><![CDATA[
	       and upd_time >= #{upd_time}
	    ]]></if>

		<if test="_sql_where != null and _sql_where != ''"> <![CDATA[
            and ${_sql_where}
        ]]> </if>
	</sql>


	<!-- 新增sys_sign_info -->
	<insert id="insert" parameterType="com.quick.portal.sms.mouldmng.MouldMngDO">
		insert into sys_mould_info (
    		  mould_name,
    		  mould_num,
    		  mould_content,
    		  mould_type,
    		  apply_causes,
    		  mould_author,
    		  mould_state,
    		  cre_time,
    		  upd_time
		)values(
			 #{mould_name},
			 #{mould_num},
			 #{mould_content},
			 #{mould_type},
			 #{apply_causes},
			 #{mould_author},
			 #{mould_state},
			 now(),
			 now()
			)
	</insert>

	<!-- 修改app_class -->
	<update id="update" parameterType="com.quick.portal.sms.mouldmng.MouldMngDO">
		update sys_mould_info
		   set 	upd_time= now()
		<if test="mould_name != null and mould_name != '' and !'null'.equals(mould_name)"><![CDATA[
		   ,mould_name=#{mould_name}
    	]]></if>
		<if test="mould_content != null and mould_content != '' and !'null'.equals(mould_content)"><![CDATA[
	       ,mould_content=#{mould_content}

	    ]]></if>
		<if test="mould_type != null"><![CDATA[
		   ,mould_type=#{mould_type}
		]]></if>
		<if test="apply_causes != null and apply_causes != '' and !'null'.equals(apply_causes)"><![CDATA[
	       ,apply_causes=#{apply_causes}
	    ]]></if>
		<if test="mould_state != null"><![CDATA[
			  ,mould_state=#{mould_state}
		]]></if>
		<if test="mould_num != null"><![CDATA[
			  ,mould_num=#{mould_num}
		]]></if>
		<if test="remarks != null and remarks != '' and !'null'.equals(remarks)"><![CDATA[
	       ,remarks=#{remarks}
	    ]]></if>
		 where mould_id = #{mould_id}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="String">
		delete from sys_mould_info where mould_id = #{mould_id}
	</delete>

	<!--查询-->
	<select id="select" parameterType="map" resultType="map">
		select o.*,e.mould_type_name mould_type_name from sys_mould_info o left join mould_type e
		on o.mould_type =e.mould_type_id
		<where>
			<include refid="where" />
		</where>
		<if test="_sql_order != null and _sql_order != ''">
			order by ${_sql_order}
		</if>
	</select>

	<!-- 查询总记录数 -->
	<select id="count" parameterType="map" resultType="int">
		select count(*) from sys_mould_info
		<where>
			<include refid="where" />
		</where>
	</select>


	<select id="getMouldTypeData"  resultType="map">
		select mould_type_id  mould_type,mould_type_name mould_name from mould_type
		order by mould_type_id
	</select>



	<select id="getMouldTypeContent"  parameterType="map" resultType="map">
		select a.mould_id,a.mould_name,a.mould_content from sys_mould_info a
		<where>
			<include refid="where" />
		</where>
		order by mould_id desc
	</select>


	<select id="getMouldStauteInfo"  resultType="map">
		select mould_num from sys_mould_info where mould_state in (1,2)
	</select>

	<update id="updateReplyResult" parameterType="com.quick.portal.sms.signmng.SignMngDO">
		update sys_mould_info
		set 	upd_time= now()
		<if test="mould_name != null and mould_name != '' and !'null'.equals(mould_name)"><![CDATA[
		   ,mould_name=#{mould_name}
    	]]></if>
		<if test="mould_content != null and mould_content != '' and !'null'.equals(mould_content)"><![CDATA[
	       ,mould_content=#{mould_content}

	    ]]></if>
		<if test="mould_type != null"><![CDATA[
		   ,mould_type=#{mould_type}
		]]></if>

		<if test="mould_state != null"><![CDATA[
			  ,mould_state=#{mould_state}
		]]></if>

		<if test="remarks != null and remarks != '' and !'null'.equals(remarks)"><![CDATA[
	       ,remarks=#{remarks}
	    ]]></if>
		where mould_num = #{mould_num}
	</update>
</mapper>