<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.portal.web.mainframe.MainFrameDao">


    <resultMap id ="mainFrameResult" type="com.quick.portal.web.mainframe.MainFrameBean">
            <result property="menuId" column="menu_id" />
            <result property="superMenuId" column="super_menu_id" />
            <result property="menuCnName" column="menu_Cn_name" />
            <result property="menuUrl" column="menu_url" />
            <result property="menuIconUrl" column="menu_icon_url" />
    </resultMap>

 
    
     <!--根据MENU查询一个对象-->
    <select id="searchMainFrame" parameterType="int" resultMap="mainFrameResult">
	<![CDATA[
		SELECT
					DISTINCT c.MENU_ID,
					c.MENU_CN_NAME,
					c.MENU_ICON_URL,
					c.SUPER_MENU_ID,
					c.MENU_URL,
					c.DISP_ORDER
			FROM(
			SELECT
				    U.MENU_ID,
					U.MENU_CN_NAME,
					U.MENU_ICON_URL,
					U.SUPER_MENU_ID,
					U.MENU_URL,
					U.DISP_ORDER
			FROM
					SYS_MENU U,
					MENU_PRIVILEGE E,
					USER_ROLE_RELA A,
					USER_ROLE R
			WHERE
					U.MENU_ID = E.MENU_ID
			AND E.ROLE_ID = A.ROLE_ID
			AND A.ROLE_ID = R.ROLE_ID
			AND U.MENU_STATE = 1
			AND R.ROLE_STATE = 1
			AND A.USER_ID = #{userId}
			UNION
              (SELECT a.MENU_ID,a.MENU_CN_NAME,a.MENU_ICON_URL,a.SUPER_MENU_ID,a.MENU_URL,a.DISP_ORDER FROM sys_menu a , jurisdiction_entrust b
                WHERE a.menu_id = b.menu_id
                and  b.to_user_id = #{userId}
                )
		  )c
		  ORDER BY c.DISP_ORDER DESC,
		  c.MENU_ID
		]]>
	
    </select>
    <select id="searchSysIndex" parameterType="int" resultType="map">
        select * from sys_index_mng where role_type_id =#{role_type_id}
    </select>



    <select id="getAcessData2Main" parameterType="map" resultType="map">
        select * from MAIN_ACESS_DATA where  DATE_FORMAT(date_time,'%Y-%m-%d')=#{endDate}
    </select>

    <select id="getJobData" parameterType="map" resultType="map">
        select job_fail_count as JOB_FAIL_COUNT,job_suc_count as JOB_SUC_COUNT from MAIN_JOB_DATA where DATE_FORMAT(date_time,'%Y-%m-%d')=#{endDate}
    </select>
    <select id="getLoginCntData" parameterType="map" resultType="map">
        select LOGIN_COUNT as LOGIN_COUNT from MAIN_LOGIN_DATA WHERE DATE_FORMAT(date_time,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
    </select>


</mapper>