<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.portal.sms.smslogmng.ISmsLogMngDao">

	<!--查询条件-->
	<sql id="where">
		1=1
		<if test="sms_id != null "><![CDATA[
	       and sms_id = #{sms_id}
	    ]]></if>
		<if test="sms_log_title != null and sms_log_title != '' and !'null'.equals(sms_log_title)"><![CDATA[
	       and sms_log_title = #{sms_log_title}
	    ]]></if>


		<if test="sms_author != null "><![CDATA[
	       and sms_author = #{sms_author}
	    ]]></if>

		<if test="sms_state != null "><![CDATA[
	       and sms_state = #{sms_state}
	    ]]></if>

		<if test="start_time != null and start_time != '' and start_time != 'null'"><![CDATA[
	       and cre_time >= DATE_FORMAT(#{start_time},'%Y%m%d')
	    ]]></if>
		<if test="end_time != null and end_time != '' and end_time != 'null'"><![CDATA[
	       and cre_time <= DATE_ADD(DATE_FORMAT(#{end_time},'%Y%m%d'), INTERVAL 1 DAY)
	    ]]></if>

		<if test="_sql_where != null and _sql_where != ''"> <![CDATA[
            and ${_sql_where}
        ]]> </if>
	</sql>



	<!-- 新增sys_sms_log -->
	<insert id="saveSmsLogInfo" parameterType="com.quick.portal.sms.smslogmng.SmsLogMngDO">
		insert into sys_sms_log (
    		  sms_id,
    		  sms_log_title,
    		  cre_time,
    		  upd_time
		)values(
			 #{sms_id},
			 #{sms_log_title},
			 now(),
			 now()
			)
	</insert>


	<select id="select" parameterType="map" resultType="map">
		select g.sms_id,g.sms_log_title,o.sms_state as sms_state,o.sms_content as sms_log_content,o.sms_author,o.sms_rec_obj from sys_sms_log g inner join sms_info o on g.sms_id=o.sms_id
		<where>
			<include refid="where" />
		</where>
			order by g.upd_time desc
	</select>

	<!-- 查询总记录数 -->
	<select id="count" parameterType="map" resultType="int">
		select count(*) from sys_sms_log
		<where>
			<include refid="where" />
		</where>
	</select>



</mapper>