<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.portal.sms.smslogmng.ISmsLogMngDao">



	<!--查询条件-->
	<sql id="where">
		1=1
		<if test="sms_id != null "><![CDATA[
	       and sms_id = #{sms_id}
	    ]]></if>
		<if test="sms_log_title != null and sms_log_title != '' and !'null'.equals(sms_log_title)"><![CDATA[
	       and sms_log_title = #{sms_log_title}
	    ]]></if>
		<if test="sms_log_content != null and sms_log_content != '' and !'null'.equals(sms_log_content)"><![CDATA[
	       and sms_log_content = #{sms_log_content}
	    ]]></if>

		<if test="sms_author != null "><![CDATA[
	       and sms_author = #{sms_author}
	    ]]></if>

		<if test="sms_state != null "><![CDATA[
	       and sms_state = #{sms_state}
	    ]]></if>

		<if test="cre_time != null and )"><![CDATA[
	       and cre_time >= #{cre_time}
	    ]]></if>

		<if test="_sql_where != null and _sql_where != ''"> <![CDATA[
            and ${_sql_where}
        ]]> </if>
	</sql>



	<!-- 新增sys_sms_log -->
	<insert id="saveSmsLogInfo" parameterType="com.quick.portal.sms.smslogmng.SmsLogMngDO">
		insert into sys_sms_log (
    		  sms_id,
    		  sms_log_title,
    		  sms_log_content,
    		  sms_rec_obj,
    		  sms_author,
    		  sms_state,
    		  cre_time,
    		  upd_time
		)values(
			 #{sms_id},
			 #{sms_log_title},
			 #{sms_log_content},
			 #{sms_rec_obj},
			 #{sms_author},
			 #{sms_state},
			 now(),
			 now()
			)
	</insert>


</mapper>