<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quick.portal.sms.smsmng.ISmsMngDao">

	<!--查询条件-->
	<sql id="where">
		1=1
		<if test="sign_id != null "><![CDATA[
	       and sign_id = #{sign_id}
	    ]]></if>
		<if test="sms_id != null "><![CDATA[
	       and sms_id = #{sms_id}
	    ]]></if>
		<if test="sms_title != null and sms_title != '' and !'null'.equals(sms_title)"><![CDATA[
	       and sms_title  like CONCAT('%',#{sms_title},'%')
	    ]]></if>

		<if test="mould_id != null"><![CDATA[
	       and mould_id = #{mould_id}
	    ]]></if>

		<if test="upd_time != null"><![CDATA[
	       and upd_time >= #{upd_time}
	    ]]></if>

		<if test="cre_time != null"><![CDATA[
	       and cre_time >= #{cre_time}
	    ]]></if>

		<if test="_sql_where != null and _sql_where != ''"> <![CDATA[
            and ${_sql_where}
        ]]> </if>
	</sql>


	<!-- 新增sys_sign_info -->
	<insert id="insert" parameterType="com.quick.portal.sms.smsmng.SmsMngDO">
		replace into sys_sms_task (
    		  sign_id,
    		  sms_title,
    		  mould_id,
    		  file_path,
    		  sms_state,
    		  cre_time,
    		  upd_time
		)values(
			 #{sign_id},
			 #{sms_title},
			 #{mould_id},
			 #{file_path},
			 #{sms_state},
			 now(),
			 now()
			)
	</insert>

	<!-- 修改app_class -->
	<update id="updateInfo" parameterType="com.quick.portal.sms.smsmng.SmsMngDO">
		update sys_sms_info
		set  upd_time = now()
		<if test="sms_state != null"><![CDATA[
			  ,sms_state=#{sms_state}
		]]> </if>
		where sms_id = #{sms_id}
	</update>

	<insert id="insertPhoneNUmList" parameterType="java.util.List">
		insert into sys_sms_info
		(sms_id,sms_rec_obj,sms_content,sms_state,sid,cre_time,upd_time)
		values
		<foreach item="item" index="index" collection="list" separator=",">
			(
			#{item.sms_id,jdbcType=INTEGER},
			#{item.sms_rec_obj,jdbcType=VARCHAR},
			#{item.sms_content,jdbcType=VARCHAR},
			#{item.sms_state,jdbcType=INTEGER},
			#{item.sid,jdbcType=VARCHAR},
			now(),
			now()
			)
		</foreach>
	</insert>
	<!-- 修改app_class -->
	<update id="update" parameterType="com.quick.portal.sms.smsmng.SmsMngDO">
		update sys_sms_task
		   set  upd_time=now()
		<if test="sign_id != null"><![CDATA[
		   	,sign_id=#{sign_id}
		 ]]> </if>
		<if test="sms_title != null and sms_title != '' and !'null'.equals(sms_title)"><![CDATA[
			  ,sms_title=#{sms_title}
		  ]]> </if>
		<if test="sms_state != null"><![CDATA[
			  ,sms_state=#{sms_state}
		]]> </if>
		 where sms_id = #{sms_id}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="String">
		DELETE  from sys_sms_task WHERE sms_id = #{sms_id}
	</delete>
	<!--查询-->
	<select id="select" parameterType="map" resultType="map">
		select o.*,s.sign_name as sign_name,m.mould_name as  mould_name,m.mould_type,	m.mould_content as mould_content from sys_sms_task o left join sys_sign_info s
		on o.sign_id =s.sign_id left join sys_mould_info m on o.mould_id = m.mould_id
		<where>
			<include refid="where" />
		</where>
		 order by o.upd_time desc
	</select>

	<!-- 查询总记录数 -->
	<select id="count" parameterType="map" resultType="int">
		select count(*) from sys_sign_info
		<where>
			<include refid="where" />
		</where>
	</select>



	<select id="getSignNameData"  resultType="map">
		select sign_id  as sign_id,sign_name as sign_name from sys_sign_info where sign_type=0
		order by upd_time desc
	</select>


	<select id="getMouldNameData"  resultType="map">
		select mould_content as mould_content,mould_name as mould_name from sys_mould_info where mould_type=0
		order by upd_time desc
	</select>

	<select id="getSmsSendData"  parameterType="String" resultType="map">
		select * from sys_sms_info where sms_id = #{sms_id}
	</select>

	<select id="getSmsSendIdData"  parameterType="String" resultType="map">
		select * from sys_sms_info where send_id = #{send_id}
	</select>





	<!-- 新增sys_sms_num_reply -->
	<insert id="insertSmsReplyResult" parameterType="com.quick.portal.sms.smsmng.SmsMngDO">
		insert into sys_sms_num_reply (
			  sms_id,
    		  phone_num,
    		  sms_state,
    		  cre_time,
    		  upd_time,
    		  fee,
    		  sid,
    		  remarks
		)values(
			 #{sms_id},
			 #{phone_num},
			 #{sms_state},
			 now(),
			 now(),
			 #{fee},
			 #{sid},
			 #{remarks}
			)
	</insert>




	<select id="getSendInfoById"  parameterType="Integer" resultType="map">
		select send_id from sys_sms_info where sms_id = #{id}
	</select>

</mapper>